{% extends "index.html" %}
{% block title %}Скачать корпус{% endblock %}

{% block ref_list %}
<li><a href="{{ url_for('get_parser')}}">Парсер</a></li>
<li class="active"><a href="{{ url_for('get_download')}}">Корпус</a></li>
<li><a href="{{ url_for('get_faq')}}">FAQ</a></li>{% endblock %}
{% block jumbotron %}
<div class="container">
</div>
{% endblock %}

{% block beginner %}
<h2>Скачать корпус</h2>
<ul>
  <li><h4><a href="http://rucoref.maimbava.net/">Russian coreference corpus</a></h4></li>
  <li><h4><a href="https://drive.google.com/drive/folders/0B9fUemIvgkgocHFoVjJGeV9oRzA">HL</a></h4></li>
</ul>
{% endblock %}

{% block continue %}
{% endblock %}