{% extends "index.html" %}
{% block title %}FAQ{% endblock %}

{% block ref_list %}
<li><a href="{{ url_for('get_parser')}}">Парсер</a></li>
<li><a href="{{ url_for('get_download')}}">Корпус</a></li>
<li class="active"><a href="{{ url_for('get_faq')}}">FAQ</a></li>
{% endblock %}

{% block jumbotron %}
<div class="container">
    <h2>Информация</h2>
    <p>О задаче в целом, о признаках и обо всём том, что касается нашего инструмента.</p>
</div>
{% endblock %}

{% block beginner %}
<h2>Вопрос — ответ</h2>
      <h3><strong>Так что же всё-таки выделяет данный инструмент?</strong></h3>
      <p class="text">Наш парсер выделяет такие компоненты высказывания, которые ссылаются на один и тот же объект или ситуацию.</p>
      <h3><strong>То есть инструмент выделяет все-все такие компоненты высказывания?</strong></h3>
      <p class="text">Не совсем так: парсер работает с <i>лексическим повторами</i>, <i>тождествами</i>, <i>именованными сущностями</i>, <i>местоимёнными анафорами</i> и <i>представителями класса сущностей</i>.</p>
      <h3><strong>А можно примеры для каждого из них?</strong></h3>
      <div class="row">
        <div class="col-md-3">
          <h4><i>Лексический повтор</i></h4>
          <p class="text">К полудню вышел на открытую <mark>поляну</mark>. Посреди <mark>поляны</mark> стояла избушка.</p>
        </div>
        <div class="col-md-3">
          <h4><i>Именованные сущности</i></h4>
          <p class="text"><mark>Евгений Плющенко</mark> – единственный в мире <mark>фигурист</mark>, <mark>который</mark> смог завоевать медали четырёх зимних Олимпиад</p>
        </div>
        <div class="col-md-3">
          <h4><i>Местоимённая анафора</i></h4>
          <p class="text"><mark>Даррелл Лэнс Эбботт</mark> родился в Арлингтоне (штат Техас). <mark>Его</mark> отец владел звукозаписывающей студией «Pantego Sound Studios» в Пантего.</p>
        </div>
        <div class="col-md-3">
          <h4><i>Тождества</i></h4>
          <p class="text">В 1920 году <mark>Гмелин</mark> прислал в Веймар свои гравюры на меди. <mark>Художник</mark> изобразил пустынные местности Кам-панъи.</p>
        </div>
      </div>
{% endblock %}

{% block continue %}
<h2>Признаки</h2>
      <div class="row">
        <div class="col-md-3">
          <h4><i>По умолчанию</i></h4>
        </div>
        <div class="col-md-3">
          <h4><i>Группа признаков 1</i></h4>
        </div>
        <div class="col-md-3">
          <h4><i>Группа признаков 2</i></h4>
        </div>
        <div class="col-md-3">
          <h4><i>Группа признаков 3</i></h4>
        </div>
      </div>
    <hr>
{% endblock %}