{% extends "index.html" %}
{% block title %}Парсер{% endblock %}

{% block ref_list %}
<li><a href="{{ url_for('get_parser')}}">Парсер</a></li>
<li><a href="{{ url_for('get_download')}}">Корпус</a></li>
<li><a href="{{ url_for('get_faq')}}">FAQ</a></li>
</ul>
{% endblock %}

{% block jumbotron %}
<div class="container">
</div>
{% endblock %}

{% block beginner %}
<h2>Разметить текст</h2>
      <div class="row">
        <div class="col-md-9">
          <ul class="nav nav-tabs">
            <li id="enter_field" class="active"><a data-toggle="tab" href="#input">Поле для ввода</a></li>
            <li id="result_field"><a data-toggle="tab" href="#output">Результаты</a></li>
          </ul>
          <div class="tab-content">
            <div id="input" class="tab-pane fade in active">
              <form class="form-horizontal" method="POST" action="/">
                <textarea class="form-control" rows="20" id="text_to_parse"></textarea>
              </form>
            </div>
        
            <div id="output" class="tab-pane fade">
              <form class="form-horizontal" action="/">
                <textarea class="form-control" rows="20" name="output" id="results"></textarea>
              </form>
            </div>
          </div>
          <p><a class="btn btn-success pushme" role="button">Разметить!</a></p>
        </div>
        <div class="col-md-3">
          <h3>Выбрать признаки</h3>
            <p>Важно: для разных типов текста стоит попробовать разные типы признаков для достижения наилучшего результата. Чтобы подробнее узнать о признаках, можно посетить <a href="faq.html">страницу часто задаваемых вопросов</a>.</p>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Группы признаков
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="dropdown-header">Признаки 1</li>
                <li role="presentation"><a role="menuitem" tabindex="-1" id="group_one">Группа 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Группа 2</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Группа 3</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">Признаки 2</li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Группа 1</a></li>
              </ul>
            </div>
        </div>
      </div>
{% endblock %}

{% block continue %}
<h2>Разметить файл</h2>
      <div class="row">
        <div class="col-md-9">
          <div class="input-group">
            <input type="text" id="file" class="form-control" value="">
            <span class="input-group-btn">
              <button class="btn btn-success tr-calculate" data-var="file" type="button" data-loading-text="..Загрузка..">Выбрать</button>
            </span>
          </div>
        </div>
      </div>
{% endblock %}